<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Sign in &laquo; Admin</title>
  <link rel="stylesheet" href="/public/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/public/css/admin.css">
  <link rel="stylesheet" href="/public/css/login/login.css">
</head>
<body>
  <div class="login">
    <form class="login-wrap">
      <img class="avatar" src="/public/img/default.png">
      <span class="tip"></span>
      <div class="form-group">
        <label for="email" class="sr-only">邮箱</label>
        <input id="email" name="email" type="email" class="form-control" placeholder="邮箱" autofocus>
      </div>
      <div class="form-group">
        <label for="password" class="sr-only">密码</label>
        <input id="password" name="password" type="password" class="form-control" placeholder="密码">
      </div>
      <a id="login" class="btn btn-primary btn-block"  href="javascript:;" disabled="true">登 录</a>
      <div class="registerOrReset">
        <a href="/baixiu/forgetPwd">忘记密码</a>
        <a href="/baixiu/registered">注册</a>
      </div>
    </form>
  </div>
</body>
<script src="/public/vendors/jquery/jquery.js"></script>
<script src="/public/vendors/util/utils.js"></script>
<script src="/public/js/login/login.js"></script>
</html>
