<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Posts &laquo; Admin</title>
    <link rel="stylesheet" href="/public/vendors/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/vendors/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/public/vendors/nprogress/nprogress.css">
    <link rel="stylesheet" href="../public/css/admin.css">
    <link rel="stylesheet" href="/public/css/tripRecord/personMaintenance.css">
    <link rel="stylesheet" href="/public/css/load/load.css">
    <script src="../public/vendors/nprogress/nprogress.js"></script>
</head>
<body>
<script>NProgress.start()</script>
<div class="personMaintenance main">
    <nav class="navbar">
        <button class="btn btn-default navbar-btn fa fa-bars"></button>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/baixiu/personMaintenance"><i class="fa fa-user"></i>个人中心</a></li>
            <li><a href="/baixiu/loginout"><i class="fa fa-sign-out"></i>退出</a></li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="page-title">
            <h1>个人信息维护</h1>
        </div>
        <ul class="nav nav-tabs personMaintenance-tabs" role="tablist">
            <li role="presentation" class="active person_maintenance_li"><a href="#personMaintenance_modify" id="personMaintenance-list" data-toggle="tab">人员修改</a>
            </li>
            <li role="presentation" class="person_add_li"><a href="#personMaintenance_add" id="personMaintenance-modify" data-toggle="tab">人员添加</a></li>
        </ul>
        <div class="tab-content personMaintenance-content">
            <div class="tab-pane personMaintenance_show active" id="personMaintenance_modify">
                <div style="background:#ffffff;" class="clearfix">
                    <div class="search_text_div clearfix">
                        <span class="text-content">请输入登录账号：</span>
                        <input type="email" placeholder="邮箱账号" class="search_text account" readonly>
                    </div>
                    <div class="search_text_div clearfix">
                        <span class="text-content">请输入原始密码：</span>
                        <input type="password"  placeholder="原始密码" autocomplete='new-password' class="search_text old_pwd">
                        <span style="color: red;display:inline-block;margin: 5px 0 0 10px">*</span>
                    </div>
                    <div class="search_text_div clearfix">
                        <span class="text-content">请输入要修改的密码：</span>
                        <input type="password" placeholder="修改密码" class="search_text modify_pwd">
                        <span style="color: red;display:inline-block;margin: 5px 0 0 10px">*</span>
                    </div>
                    <div class="search_text_div clearfix">
                        <span class="text-content">请再次输入密码：</span>
                        <input type="password" placeholder="确认密码" class="search_text confirm_pwd">
                        <span style="color: red;display:inline-block;margin: 5px 0 0 10px">*</span>
                    </div>
                    <div class="search_text_div clearfix">
                        <span class="text-content">请输入昵称：</span>
                        <input type="text" placeholder="昵称" class="search_text nick_name">
                    </div>
                    <div class="search_text_div clearfix">
                        <sapn class="text-content">职位类型：</sapn>
                        <input type="text" class="search_text" id="level_type_desc_view"  readonly="readonly">
                        <input type="hidden" id="level_type_code_view" readonly="readonly">
                        <button class="search_btn glyphicon glyphicon-search" data-toggle="modal"
                                data-target="#modal_tree" onclick="showModal('ZJ')"></button>
                        <span style="color: red;display:inline-block;margin: 5px 0 0 10px">*</span>
                    </div>
                    <div class="search_text_div clearfix">
                        <span class="text-content">上传头像：</span>
                        <input type="file" class="actorInputFile">
                    </div>
                    <div class="btn_group">
                        <button type="button" class="btn btn-info btn_modify">修改</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane personMaintenance_show" id="personMaintenance_add">
                <div style="background:#ffffff;" class="clearfix">
                    <div class="search_text_div clearfix">
                        <span class="text-content">职位类型代码：</span>
                        <input type="number" class="search_text personMaintenance_type_code_view">
                        <span style="color: red;display:inline-block;margin: 5px 0 0 10px">*</span>
                    </div>
                    <div class="search_text_div clearfix">
                        <sapn class="text-content">职位类型描述：</sapn>
                        <input type="text" class="search_text personMaintenance_type_desc_view">
                        <span style="color: red;display:inline-block;margin: 5px 0 0 10px">*</span>
                    </div>
                    <div class="btn_group">
                        <button type="button" class="btn btn-info btn_show" id="personMaintenance-standard-add">新增</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="profile">
            <img class="avatar">
            <h3 class="name"></h3>
        </div>
        <ul class="nav">
        </ul>
    </div>
    <div class="mask" style="display: none">
        <span class="glyphicon glyphicon-refresh loading"></span>
    </div>
    <!-- Modal -->
    <div class="modal fade level-manger-tree" id="modal_tree" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" >职位列表</h4>
                </div>
                <div class="modal-body">
                    <ul class="type-list">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../public/vendors/jquery/jquery.js"></script>
    <script src="/node_modules/art-template/lib/template-web.js"></script>
    <script src="../public/vendors/bootstrap/js/bootstrap.js"></script>
    <script src="/public/vendors/util/utils.js"></script>
    <script src="/public/js/bussnessTrip/personMaintenance.js"></script>
    <script type="text/javascript" id="template">{{dataJson}}</script>
    <script type="text/art-template" id="typeList">
        <% if(returnData){ %>
        <% for(var i = 0;i<returnData.length ;i++){ %>
            <li class="type-item" data-cost-code="<%=  returnData[i].code %>" onclick="showInfo('<%= returnData[i].queryType %>',this)"><%= returnData[i].descr %></li>
            <% } %>
            <% } %>
    </script>
    <script>NProgress.done()</script>
</body>
</html>
