.bx_chart{
  #company_statistical{
    width: 50%;
    height: 300px;
    float: left;
    border: 1px dashed lightgray;
  }
  #cost_statistical{
    width: 50%;
    height: 300px;
    float: left;
    border: 1px dashed lightgray;
  }
}